certifi==2024.12.14
charset-normalizer==2.0.12
click==8.1.7
Flask==2.0.3
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
psycopg2-binary==2.9.9
PyYAML==6.0.2
requests==2.26.0
SQLAlchemy==1.4.22
urllib3==1.26.20
Werkzeug==2.0.2
